@import "../../../styles/pageStyles.scss";
@import "../../../styles/variables.scss";

:host {
  @include center_itens();
  flex-direction: column;

  background: linear-gradient($backgroud);
  background-repeat: no-repeat;

  height: 100vh;

  h1{
    margin-top: 4rem;
    font-size: 1.5rem;
    color: #fff;
    span{
      color: $secund-color;
    }
  }

  .help-info{
    height: 6vh;
    display: flex;
    background: #EBEBEB;
    border: none;

    justify-content: center;
    align-items: center;
    gap: 50px;

    p{
      font-weight: bold;
      font-size: 26px;
    }
  }

  .list-client {

    height: 70vh;
    width: 70vw;



    margin-top: .8rem;
    background: #fff;
    .input-search-cleint{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: .6rem;

      width: 100%;
      height: auto;
      padding: .3rem;
      button{
        @include center_itens();
        width: 8vw;
        height: 5vh;

        background-color:$secund-color;
        padding: .4rem;
        border-radius: .3rem;
        cursor: pointer;
      }
      input{
        border-bottom: 1px solid gray;
        width: 13vw;
        padding: .3rem;
      }
    }
  }
}
