@import "../../../styles/pageStyles.scss";
@import "../../../styles/variables.scss";


:host {
  @include star_fall();

  height: 100vh;
  color: #fff;

  .box_more_info {
    @include box-more-info-styles();
    height: 20%;
    border-radius: 0rem 0rem 1.5rem 1.5rem;

    overflow: hidden;
  }

  .status-phone-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;


    @include center_itens();
    flex-direction: column;
    padding-inline: .5rem;
    
   .user-card {
      @include center_itens();
      background-color: #f5f5f5;


      border-radius: .9rem;
      margin-top: 1.0rem;

      width: 100%;
      height: 15vh;


      .user-span {
        text-align: left;
        font-size: .8rem;

        display: flex;

        justify-content: flex-end;
        flex-direction: column;

        border: 1px solid red;
        width: 50%;
        height: 100%;
        padding: .5rem;

        color: black;

      }

      .box2 {
        width: 50%;
        border: 1px solid red;
        height: 100%;
      }
    }
  }

}
