<app-nav-bar></app-nav-bar>
<div class="list-client">
  <div class="input-search-cleint">
    <input type="text" placeholder="Nome">
    <button><i class="bi bi-search"></i></button>
  </div>
  <div class="list">
    <div class="card_OrderService" *ngFor="let Order of Orders">
      <button class="button_moreInfo">
        <i class="bi bi-list"></i>
      </button>
      <div class="user_info">
        {{Order.user.first_name}}
        {{Order.user.last_name}}
        {{Order.user.numberContact}}
      </div>
      <div class="phone_info">
        {{Order.phone.Marca}}
        {{Order.phone.Modelo}}
        {{Order.phone.ProblemaRelatado}}
      </div>
      <div class="Order_info">
        {{Order.date}}
        {{Order.status}}
      </div>
    </div>
  </div>
</div>
