<app-nav-bar></app-nav-bar>

<h1>Lista de <span>Clientes</span></h1>
<div class="list-client">
  <div class="input-search-cleint">
    <button>Buscar</button>
    <input type="text" placeholder="Nome CLiente">

  </div>
  <div class="list">

    <div class="help-info">
      <p>id</p>
      <p>nome</p>
      <p>info</p>
      <p>telefone</p>
      <p>editar</p>
      <p>excluir</p>
      <p>O.S</p>
    </div>

    <div class="card_OrderService" *ngFor="let users of clients">
      <button class="button_moreInfo">
        <i class="bi bi-list"></i>
      </button>
      <div class="user_info">
       {{ users.first_name }}
      </div>
      <div class="phone_info">

      </div>
      <div class="Order_info">

      </div>
    </div>
  </div>
</div>
