@import '../../../styles/variables.scss';

@mixin center_itens {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes showModal{
   from{
     transform: translateY(-15rem);

   }
   to{
    transform: translateY(0);
    height: auto;
   }
}
@keyframes extends_sidebar{
  from{
    width: 4rem;
  }
  to{
    width: 12rem;
  }
}
.active {
  background-color: $backgroud-color-circle;
}

.side_btn:not(.active):hover {
  background-color: $backgroud-color-circle3;
}

.logout_btn:not(.active):hover {
  background-color: $backgroud-color-circle3;
}
.menu_btn:not(.active):hover {
  background-color: $backgroud-color-circle3;
}
.hide{
  display: none;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  height: 100vh;
  width: 4rem;


  background-color: #ffffff;
  border-radius: 0 1.0rem 1.0rem 0;

  overflow: hidden;
  .sidebar_content {

    .user {
      display: flex;
      align-items: center;

      border-bottom: 1.2px solid gray;
      gap: .4rem;
      padding: .2rem;

      img {
        width: 3.5rem;
        height: auto;
      }

      .user_infos {
        display: flex;
        flex-direction: column;
      }



    }

    .side_items {
      margin-top: 2.0rem;

      height: 100%;

      display: flex;
      flex-direction: column;
      gap: .2rem;

      .side-item {
        overflow: hidden;
        .side_btn {

          padding: 1.0rem;
          cursor: pointer;

          width: 100%;
          text-align: left;

          display: flex;
          align-items: center;
          gap: 1.3rem;


          i {
            font-size: 1.6rem;
          }

          .item_description {
            font-size: 1rem;
            font-weight: bold;
            font-family: $secund-font-family;
            text-transform: uppercase;


          }
        }

        #arrow-down {
          cursor: pointer;
          display: flex;
          align-items: center;
          transition: all 0.3s ease;

          border-radius: 50%;
          color: black;
          padding: .3rem;

          font-size: 1.0rem;

          margin-left: 1.0rem;
        }

        .modal_more_info {
          animation: showModal .1s ease-out reverse;
          overflow: hidden;
          background-color: rgba(128, 128, 128, 0.496);

          display: flex;
          flex-direction: column;
          gap: .2rem;

          height: 0;



          transition: all 1s linear ;
          .buscar_modal {
            background: none;
            cursor: pointer;
            padding: .7rem;
            text-align: left;

            font-size: 1rem;
            font-weight: bold;
            font-family: $secund-font-family;
            text-transform: uppercase;

            width: 100%;

           }
           .item_description{
            overflow: hidden;
            transition: all 1s ease-out;
           }

          .active_btn_modal {
            background-color: rgb(74, 74, 74);

            .buscar_modal {
              color: #ffffff;
              font-size: 1rem;
              font-weight: 500;
            }
          }

          .item_description:not(.active_btn_modal):hover {
            background-color: rgba(111, 110, 110, 0.32);

            .buscar_modal {
              color: #ffffff;
              font-size: 1rem;
              font-weight: 500;
            }

          }
        }
        .show_modal_class{
          animation: showModal .1s ease-out forwards;
          .item_description:nth-child(1){
            animation: showModal 2.5s ease-out forwards;
          }
          .item_description:nth-child(2){
            animation: showModal 2s ease-out forwards;
          }
          .item_description:nth-child(3){
            animation: showModal 1s ease-out forwards;
          }
          .item_description:nth-child(4){
            animation: showModal .5s ease-out forwards;
          }
          .item_description:nth-child(5){
            animation: showModal .25s ease-out forwards;
          }
        }
        .show_modal_class_reverse{
          animation: showModal .1s ease-out reverse;
          .item_description:nth-child(1){
            animation: showModal 2.5s ease-out reverse;
          }
          .item_description:nth-child(2){
            animation: showModal 2s ease-out reverse;
          }
          .item_description:nth-child(3){
            animation: showModal 1s ease-out reverse;
          }
          .item_description:nth-child(4){
            animation: showModal .5s ease-out reverse;
          }
          .item_description:nth-child(5){
            animation: showModal .25s ease-out reverse;
          }
        }
      }
    }
  }
  .menu{

    margin-top: 10rem;

    .menu_btn{
      padding: 1rem;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1.3rem;
      width: 100%;
      i{
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.2rem;
      }
      .item_description{
        font-size: 1rem;
        font-weight: bold;
        font-family: $secund-font-family;
        text-transform: uppercase;
      }
    }
  }
  .logout {
    border-top: 1px solid gray;
    overflow: hidden;


    height: auto;
    width: 100%;

    .logout_btn {
      padding: 1rem;
      height: auto;
      width: 100%;
      cursor: pointer;

      border-radius: 0 0 1rem;

    }

  }
}
.show{
  animation: extends_sidebar 1s ease-out forwards ;
}
.hide{
  animation: extends_sidebar .8s ease-in reverse ;
}
