<nav class="sidebar">

  <div class="sidebar_content">
    <div class="menu">
      <button class="menu_btn" (click)="setActive($event)" (click)="addandremoveclass()">
        <i class="bi bi-list"></i>
        <span class="item_description">
          menu
        </span>
      </button>
     <button class="menu_btn_close hide" (click)="setActive($event)" (click)="addandremoveclass()">
      <i class="bi bi-x-lg">
        <span class="item_description">
          close
        </span>
      </i>
     </button>
    </div>
      <div class="user">
            <img src="../../../assets/Group 15 (2).png" alt="user">
            <p class="user_infos">
                cicrano
              <span class="item_description">
                 funcionario
              </span>
            </p>


      </div>
      <ul class="side_items ">
          <li class="side-item">
            <button class="side_btn active" (click)="setActive($event)">
              <i class="bi bi-house"></i>
              <span class="item_description">
                home
              </span>
            </button>
          </li>
          <li class="side-item">
            <button class="side_btn" (click)="setActive($event)">
              <i class="bi bi-person"></i>
              <span class="item_description">
                cliente
              </span>
            </button>
          </li>
          <li class="side-item">
            <button class="side_btn" (click)="setActive($event)">
              <i class="bi bi-box-seam"></i>
              <span class="item_description">
                estoque
              </span>
            </button>
          </li>
          <li class="side-item">
            <button class="side_btn" (click)="setActive($event)">
              <i class="bi bi-search"></i>
              <span class="item_description">
                buscar
              </span>


            </button>
            <button class="search_modal" (click)="modalClass()">
              <i class="bi bi-chevron-down"id="arrow-down"></i>
            </button>
            <button class="search_modal-left hide" (click)="closeModal()">
              <i class="bi bi-chevron-left" id="arrow-left"></i>
            </button>
            <div class="modal_more_info">
              <div class="item_description active_btn_modal">
                 <button class="buscar_modal">
                  produto
                </button>
              </div>
              <div class="item_description">
                 <button class="buscar_modal">
                  marca
                </button>
              </div>
              <div class="item_description">
                <button class="buscar_modal">
                  preço
                </button>

              </div>
              <div class="item_description">
                 <button class="buscar_modal">
                  quantidade
                </button>
              </div>

              <div class="item_description">
                 <button class="buscar_modal">
                  status
                </button>
              </div>
            </div>
          </li>
          <li class="side-item">
            <button class="side_btn" (click)="setActive($event)">
              <i class="bi bi-file-earmark-medical"></i>
              <span class="item_description">
                gerar o.s
              </span>
            </button>
          </li>
      </ul>
  </div>

  <div class="logout">
     <button class="logout_btn" routerLink="/login" routerLinkActive="active">
       <i class="bi bi-box-arrow-right"></i>
       <span class="item_description">
          logout
       </span>
     </button>
  </div>
</nav>
