@import '../../../styles/variables.scss';

.sideBar {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: auto;


  padding: 1.0rem;

  background-color: #31181E;
  display: flex;
  align-items: center;

  flex-direction: column;

  .img_logo {
    margin-top: 1.0rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    gap: 1.0rem;
    list-style: none;

    margin-top: 5rem;


    
    .button_nav, i {

     background: none;
     font-family: $primary-fonte-family;
     color: #fff;


      padding: .3rem;
      border-radius: .4rem;
      cursor: pointer;


      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: left;

      font-weight: bold;

    }
    .button_nav:focus{
      background: $secund-font-color;
      color: rgb(0, 0, 0);
      transition: all 0.5s ease-in-out;
    }

  }

  .logout_button {
    position: absolute;
    bottom: 1.0rem;
    left: 1rem;

    background: none;
    color: #fff;

    font-size: 1.5rem;
    cursor: pointer;
    padding: .3rem .4rem;
  }
}
