<main>
  <app-nav-bar></app-nav-bar>

  <div class="main-content">
    <div class="text-content">
      <h1>Controle de ordem <br>
      de serviço</h1>

      <p>com este aplicativo torne o gerenciamento do seu negocio ágio e
        prático e torne o seu dia a dia na sua empresa uma experiência
        agradável e produtiva com uma interface simples elegante e de
        fácil manuzeio proporcionando a você o melhor que pode se
        oferecer no mercado.</p>
    </div>
    <div class="logo-content">
      <img src="../../../assets/Rectangle 8.png">
    </div>
  </div>


</main>
