
  <app-nav-bar></app-nav-bar>
  <div class="main-content">
    <div class="text-content">
      <h1>Controle de ordem <br>
      de serviço</h1>

      <p>com este aplicativo torne o gerenciamento do seu negocio ágio e <br>
        prático e torne o seu dia a dia na sua empresa uma experiência <br>
        agradável e produtiva com uma interface simples elegante e de <br>
        fácil manuzeio proporcionando a você o melhor que pode se <br>
        oferecer no mercado.</p>
    </div>
    <div class="logo-content">
      <img src="../../../assets/Rectangle 8.png">
    </div>
  </div>

  <div class="second-content">
    <div class="product-section">
      <div class="text-content">
        <h1>PRODUTOS</h1>
        <h2>PRODUTOS</h2>

        <p>NESTA OPÇÃO VOCÊ PODE CADASTRAR PRODUTOS EM SEU ESTOQUE</p>
        <button>cadastrar produto</button>
      </div>
      <div class="logo-content">
        <img src="../../../assets/ESTOQUE.png">
      </div>
    </div>
  </div>






