@import '../../../styles/variables.scss';

:host {
  padding: .5rem;
  @include center_itens();
  gap: 1rem;
  flex-direction: column;

  height: 100vh;
  .box {
    background: #ffff;

    border: 1px solid red;
    height: 50%;
    width: 90vw;

    border-radius: .5rem;
  }
  .text{
    border: 1px solid red;
    height: 40%;
    width: 90vw;

    border-radius: .5rem;
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;


      gap: 1.0rem;

      button {
        padding: .3rem;
        width: 30vw;

        text-transform: capitalize;
        font-size: 1rem;
        font-weight: bold;
      }

    }
  }



}
