@import "../../../styles/variables.scss";
@import "../../../styles/pageStyles.scss";

:host {
  width: 100%;

  display: flex;
  flex-direction: column;

  background: linear-gradient($backgroud);
  background-repeat: no-repeat;
 @include center_itens();
  .header_page {
    background-image: url("../../../assets/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    width: 100%;

    .info-content {
      height: 40vh;
      width: 100%;

      display: flex;

      justify-content: center;

      margin: 160px auto;
      .text-content {
        height: 40vh;
        width: 30%;

        display: flex;
        flex-direction: column;

        h1 {
          color: #ffc65e;
          font-weight: 600;
          font-size: 45px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }
        p {
          margin-top: 15px;
          color: #fff;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-family: bold;
          font-size: 20px;
        }
      }

      figure {
        margin: 0 30px;
        img {
          width: 240px;
          height: 295px;
        }
      }
    }
  }

  .main-conteiner {
    height: 100vh;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 170px;

    justify-content: center;
    align-items: center;

    .product-section {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 150px;

      .text-content {
        display: flex;
        flex-direction: column;

        .title-content {
          height: 20vh;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          h1 {
            font-size: 100px;
            color: rgba(0, 0, 0, 0.1);
            position: absolute;
            z-index: 0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          }
          h2 {
            font-size: 36px;
            color: #ffc65e;
            position: relative;

            margin-top: 26px;
          }
        }
        p {
          font-size: 20px;
          color: #000;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          margin: 15px;
        }
        button {
          font-size: 18px;
          font-weight: bold;

          margin: auto;
          padding: 0.5rem;
          cursor: pointer;
          width: fit-content;
          color: $secund-color;
          background: #00162e;
          border-radius: 0.3rem;
          transition: all 0.5s ease-in-out;
        }
      }

      .logo-content {
        display: flex;
        margin: 0 20px;
        img {
          width: 295px;
          height: 205px;
        }
      }
    }

    .client-section {
      display: flex;
      align-items: center;
      justify-content: center;

      .text-content {
        display: flex;
        flex-direction: column;

        .title-content {
          height: 20vh;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          h1 {
            font-size: 100px;
            color: rgba(0, 0, 0, 0.1);
            position: absolute;
            z-index: 0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

            margin-top: 20px;
          }
          h2 {
            font-size: 36px;
            color: #ffc65e;
            position: relative;
            margin-top: 26px;
          }
        }
        p {
          font-size: 20px;
          color: #000;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          margin: 15px;
        }
        button {
          font-size: 18px;
          font-weight: bold;

          margin: auto;
          padding: 0.5rem;
          cursor: pointer;
          width: fit-content;
          color: $secund-color;
          background: #00162e;
          border-radius: 0.3rem;
          transition: all 0.5s ease-in-out;
        }
      }

      .logo-content {
        display: flex;
        margin: 0 20px;
        img {
          width: 295px;
          height: 205px;
        }
      }
    }
  }
}
