<app-nav-bar></app-nav-bar>
<div class="containenr_Form_Register_employe">
  <form class="form_register">
    <div class="form_field">
      <label>Nome</label>
      <input type="text"  />
    </div>
    <div class="form_field">
      <label>Sobrenome</label>
      <input type="text"  />
    </div>
    <div class="form_field">
      <label>Email</label>
      <input type="text" />
    </div>
    <div class="form_field">
      <label>CPF</label>
      <input type="text"  />
    </div>
    <div class="form_field">
      <label>Password</label>
      <input type="text" />
    </div>
    <div class="form_field">
       <label>Numero de Telefone</label>
      <input type="text"  />
    </div>
    <div class="form_field">
      <label>Cargo</label>
      <select name="selectOptions">
        <option value="Atendente">Atendente</option>
        <option value="Tecnico">Tecnico</option>
        <option value="Gerente">Gerente</option>
      </select>
    </div>


  </form>
  <button class="RegisterButton" (click)="onSubmit()">Registrar</button>
</div>
