@import "../../../styles/pageStyles.scss";
@import "../../../styles/variables.scss";

:host {
  @include center_itens();
  flex-direction: column;

  background: linear-gradient($backgroud);
  background-repeat: no-repeat;

  height: 100vh;

  .containenr_Form_Register_employe {
    @include center_itens();

    height: 70vh;
    width: 50vw;

    background: #fff;
    .form_register {
      display: flex;
      flex-wrap: wrap;

      gap: 1rem;

      height: 65%;
      width: 65%;

      position: relative;

      .form_field {
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: center;

        gap: 0.3rem;
        label {
          font-size: 0.8rem;
          font-weight: 500;
        }
        input {
          padding: 0.3rem;
          border: 1px solid gray;

          border-radius: 0.2rem;
          width: 15vw;
        }
        select {
          border: 1px solid gray;
          width: 8vw;
          padding: 0.2rem;

          border-radius: 0.3rem;
        }
      }
      button {
        position: absolute;
        right: 1rem;
        bottom: 0;

        background-color: $secund-color;
        width: 8vw;
        height: 5vh;

        padding: 0.2rem;
        border-radius: 0.3rem;

        cursor: pointer;
        transition: all 0.5s ease-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
