@import "../../../styles/pageStyles.scss";

//animaçoes


//web page
@media(min-width:780px) {
  :host {
    @include center_itens();
    height: 100vh;

    .main-box {
      height: 60vh;
      width: 60vw;

      display: flex;



      .box_more_info {

        width: 70%;
        height: 100%;

        background-image: url("../../../assets/4882066.png");
        border-radius: 0 1rem 1rem 0;
        @include center_itens();

        img {
          width: 16vw;
          height: auto;
        }
      }
    }
  }
}

//mobile page
@media (max-width:425px) {
  :host {
    height: 100vh;

    .main-box {
      @include center_itens();
      background: linear-gradient($backgroud);
      color: #ffffff;

      height: 100%;
      width: 100%;

      flex-direction: column;
      box-shadow: 4px -2px 27px -4px rgba(0, 0, 0, 0.46) inset;


      .box-optins {


        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;

        text-align: left;

        height: 60%;
        width: 100vw;


        padding: .5rem;
        margin-bottom: 1.0rem;
        position: relative;

        @include star_fall();

        .text {
          animation: open_page_text 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          transition: all .5s;

          p {
            animation: open_page_text 1.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            transition: all .5s;
          }
        }

        .buttons {
          @include center_itens();
          gap: 1.0rem;

          .button-option {
            @include button_style()
          }
        }
      }

      .box_more_info {
         @include box-more-info-styles()
       }
    }
  }
}
