<div class="box_more_info">
  <img src="../../../assets/Rectangle 8.png" alt="logo" class="logoPng">
</div>
<div class="box-optins">

  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>



  <div class="text">
    <h2>Welcome</h2>
    <p>Gerencie seu negócio com agilidade e praticidade! Desfrute de uma interface simples, elegante e fácil de usar,
      proporcionando produtividade e eficiência no seu dia a dia.</p>
  </div>

  <div class="buttons">
    <button class="button-option" routerLink="/login" routerLinkActive="active">Funcionario</button>
    <button class="button-option" routerLink="/client-Home-page" routerLinkActive="active">Cliente</button>
  </div>

</div>
