$backgroud-color:#3F5B29;
$background-linear-gradiet:linear-gradient(93deg, rgba(84,147,45,1) 0%, rgba(68,103,47,1) 0%, rgba(6,6,6,1) 100%);
$lateral-bar-color:#31181E;

$primary-font-color:#ffffff;
$secund-font-color:#E1AA1F;

$primary-fonte-family:"Poppins", sans-serif;
$fonte-wheight:bold;
$font-size:.8rem;


