@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$backgroud-color:#688989;
$backgroud-color-circle:#48d1cde1;
$backgroud-color-circle2:#48d1cdb5;
$backgroud-color-circle3:#48d1cd50;
$background-linear-gradiet:linear-gradient(93deg, rgba(84,147,45,1) 0%, rgba(68,103,47,1) 0%, rgba(6,6,6,1) 100%);
$lateral-bar-color:#31181E;

$primary-font-color:#ffffff;
$secund-font-color:#E1AA1F;

$primary-fonte-family:"Poppins", system-ui;
$secund-font-family:"Roboto", system-ui;

$fonte-wheight:bold;
$font-size:.8rem;


