/* You can add global styles to this file, and also import other style files */
@import './dist/scss/variables.scss';


*root{
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
  color: $secund-font-color;
}
