<header class="header_Page">
  <app-nav-bar></app-nav-bar>
  <div class="text-content">
    <h2>
      <span>Cadastro de</span>
      Produto
    </h2>
    <p>Cadastre um produto e agilize o serviço</p>
  </div>
</header>

<main class="main_Page_container">

  <h3 class="product-title">Dados Do Produto</h3>

  <div class="product_Form">

    <form class="form-product" [formGroup]="ProductForm">
      <div class="form-field">
        <input
          type="text"
          placeholder="Nome"
          formControlName="name">
      </div>

      <div class="form-field">
        <input
          type="text"
          placeholder="Marca"
          formControlName="brand">
      </div>

      <div class="form-field">
        <input
          type="text"
          placeholder="Preço"
          formControlName="price">
      </div>

      <div class="form-field">
        <input
          type="text"
          placeholder="Quantidade"
          formControlName="quantity">
      </div>
    </form>

    <button class="product-register-btn">Registrar produto</button>
  </div>
</main>
