<header class="header_Page">
  <app-nav-bar></app-nav-bar>
  <div class="text-content">
    <h2>
      <span>Cadastro de</span>
      O.S
    </h2>
    <p>Crie uma ordem de serviço para um
      cliente e agilize o serviço</p>
  </div>
</header>
<main class="main_Page_container">

  <h3 class="cliente-title">Dados Do Cliente</h3>

  <form class="Order_Service_Form">

    <div class="form-field">
      <input type="text" placeholder="Nome">
    </div>

    <div class="form-field">
      <input type="text" placeholder="CPF">
    </div>

    <div class="form-field">
      <input type="text" placeholder="Email">
    </div>

    <div class="form-field">
      <input type="text" placeholder="Numero de Contato">
    </div>

    <div class="phone-Os">
      <h3>Dispositivo</h3>

      <div class="form-field">
        <input type="text" placeholder="Modelo">
      </div>

      <div class="form-field">
        <textarea placeholder="Problema"></textarea>
      </div>
    </div>
    <button class="Oder-Register-btn">Registrar Ordem</button>
  </form>
</main>
