@import "../../../styles/variables.scss";

:host {
  @include center_itens();
  height: 100vh;

<<<<<<< HEAD
  .main {
    border: 1px solid rgb(255, 255, 255);
    height: 50vh;
    width: 60vw;

    @include center_itens();

    .Formgroup{
      border: 1px solid red;
      width: 40%;
      height: 100%;

      @include center_itens();
      flex-direction: column;


    }
    .image_Box{
      border: 1px solid green;

      height: 100%;
      width: 60%;
    }

=======
  .main-box {
    height: 60vh;
    width: 60vw;

    display: flex;

    .form_group{
      background-color: #ffff;

      width: 35%;
      height: 100%;

      padding: 1.5rem;
      border-radius: 2rem 0 0 2rem;

      display: flex;
      justify-content: center;
      flex-direction: column;

      gap: 2.5rem;
      .tittle{
        font-size: 2rem;
        font-weight: 400;

        text-transform: capitalize;
      }
      .form{
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        gap: 1.5rem;


        text-align: left;

        input {
          padding: .4rem;

          width: 16vw;

          border: 1px solid gray;
          border-radius: 2rem;
        }

        .login_btn {
          padding: .3rem;
          background-color: $secund-color;
          border-radius: 2rem;

          width: 8vw;
          height: auto;

        }

      }

      a {
        color: #000;

        font-size: .95rem;
        transition: color 0.3s ease;
      }

    }

    .box_more_info {

      width: 70%;
      height: 100%;

      background-image: url("../../../assets/4882066.png");

      @include center_itens();
      img{
        width: 16vw;
        height: auto;
      }
    }
>>>>>>> 384a0c29a6cae20c61d5d5524f74683d41dac041
  }
}
