<main class="main-box">
  <div class="box_more_info">
    <img src="../../../assets/Rectangle 8.png" alt="logo" class="logoPng">
    <button class="back-btn" routerLink="/welcome"><i class="bi bi-arrow-bar-left"></i></button>
  </div>
  <div class="form_group">

    <h2 class="tittle">Log in</h2>

    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>

    <form action="" class="form">

      <input type="text" placeholder="Usuario">
      <input type="text" placeholder="Senha">

      <button type="submit" class="login_btn" (click)="navigate()">login</button>


    </form>
  </div>

</main>
