@import "../../../styles/variables.scss";

:host {
  @include center_itens();
  height: 100vh;

  .main {
    border: 1px solid rgb(255, 255, 255);
    height: 50vh;
    width: 60vw;

    @include center_itens();

    .Formgroup{
      border: 1px solid red;
      width: 40%;
      height: 100%;

      @include center_itens();
      flex-direction: column;


    }
    .image_Box{
      border: 1px solid green;

      height: 100%;
      width: 60%;
    }

  }
}
