@import "../../../styles/variables.scss";
@import "../../../styles/pageStyles.scss";


:host {
  @include center_itens();
  flex-direction: column;
  height: fit-content;


  textarea {
    border: 1px solid gray;
    padding: .4rem;
    border-radius: .3rem;
  }


}

input {
  width: 20vw;
  height: auto;

  border: none;
  border-bottom: 1px solid gray;

  &.valid {

    border-bottom: 1px solid green;
    color: green;
  }

  &.invalid {
    border-bottom: 1px solid red;
    color: red;
  }
}

textarea {
  width: 41vw;
  height: 15vh;

  margin-bottom: 1.5rem;
  resize: none;

  &.valid {

    border: 1px solid green;
    color: green;
  }

  &.invalid {
    border: 1px solid red;
  }
}

.danger-text {
  span {
    color: red;
    font-size: .7rem;
  }

}

.header_Page {

  display: flex;
  flex-direction: column;

  height: 30vh;
  width: 100%;


  @include center_itens();

  .text-content {
    @include center_itens();
    flex-direction: column;
    text-align: center;

    width: 20vw;
    height: 30vh;

    position: relative;
    margin-top: 1rem;

    span {
      color: #fff;
    }

    p {
      margin-top: 1.4rem;
    }

    color: $secund-color;
  }
}

.main_Page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  margin-top: .5rem;
  height: fit-content;
  width: 55vw;
  padding-inline: 1rem;

  border-radius: .4rem;

  background: #fff;

  .cliente-title {
    margin-top: .5rem;
  }

  .Order_Service_Form {

    position: relative;

    display: flex;
    flex-wrap: wrap;

    width: 94%;
    height: auto;


    gap: .5rem;

    padding: 1rem;



    .form-user {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;



    }

    .phone-Os {
      display: flex;
      flex-wrap: wrap;

      gap: .5rem;



      width: 100%;
    }

    .Oder-Register-btn {

      position: absolute;
      right: 0;
      bottom: .5rem;


      padding: .5rem;
      cursor: pointer;
      width: fit-content;
      color: $secund-color;
      background: #00162E;

      border-radius: .3rem;


      transition: all .5s ease-in-out;

      &:hover {
        background: #151f2a;
      }
      &.disable-button{
        pointer-events: none;
        opacity:.5;
      }
    }
  }
}
