@import '../../../styles/pageStyles.scss';
@import '../../../styles/variables.scss';

@media(max-width:425px) {
  .navbar {
    @include center-itens();


    width: 100vw;
    height: 15vh;


    gap: 1rem;

    position: relative;
    padding: .3rem;

    .Logo {

      position: absolute;
      left: 0;
      top: 0;

      width: 15vw;
      height: auto;
    }

    .navbar-toggler,
    .closeNav-extends {
      position: absolute;
      top: .7rem;
      right: .5rem;

      background: none;
      cursor: pointer;

      transition: all .7s ease-in-out;

      i {
        color: #fff;
        font-size: 1.8rem;
        font-weight: bold;
      }

      &.hide {
        display: none
      }
    }

    .navbar-menu {
      display: none;
    }

    &.navbar-extends {
      height: 100vh;
      width: 100vw;

      transition: all .5s ease-in-out;

      .navbar-menu {
        display: block;

        ul {
          @include center-itens();
          flex-direction: column;
          gap: 1rem;

          color: $secund-color;
          font-size: 1rem;
          font-weight: 500;

          list-style: none;
        }
      }
    }
  }


}
