@import '../../../styles/variables.scss';

header {
  background: #00162E;
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 80px;

  justify-content: flex-end;

  .logo {
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    img {
      margin: 0 15px;
      width: 51px;
      height: 68px;
    }
  }

  nav {


    display: flex;
    gap: 60px;
    align-items: center;

    margin-right: 90px;

    ul {
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #FFC65E;
      cursor: pointer;
    }
  }

  .menu {
    align-self: center;

    margin-right: 45px;

    i {
      font-size: 30px;
      cursor: pointer;
      color: white;
    }
  }
}
