<header>
  <div class="logo">
    <img routerLink="/home" src="../../../assets/Rectangle 8.png">
  </div>

  <nav>
    <ul routerLink="/cos/home" routerLinkActive="active">Home</ul>
    <ul routerLink="/cos/clientes" routerLinkActive="active">Clientes</ul>
    <ul routerLink="/cos/products" routerLinkActive="active">Estoque</ul>
    <ul routerLink="/cos/OSCos" routerLinkActive="active">Ordem</ul>
    <ul routerLink="/cos/auth/Register" routerLinkActive="active" [class.hidden]="!isGerent()">Registrar Funcionario</ul>
  </nav>

  <div class="LogOut">
    <button routerLink="/cos/auth/login" routerLinkActive="active">Sair</button>
  </div>

</header>
