<div class="sideBar">
  <div class="img_logo">
     <img src="../../../../assets/img/COS_red_fundo_escuro-removebg-preview 1.png" alt="">
  </div>
  <ul>
    <li><button class="button_nav" routerLink="#" routerLinkActive="active"><i class="bi bi-house"></i></button></li>
    <li><button class="button_nav" routerLink="#" routerLinkActive="active"><i class="bi bi-person"></i></button></li>
    <li><button class="button_nav" routerLink="#" routerLinkActive="active"><i class="bi bi-box-seam"></i></button></li>
    <li><button class="button_nav" routerLink="#" routerLinkActive="active"><i class="bi bi-search"></i></button></li>
    <li><button class="button_nav" routerLink="#" routerLinkActive="active"><i class="bi bi-file-earmark-medical"></i></button></li>
  </ul>
  <button routerLink="/login" routerLinkActive="active" class="logout_button"><i class="bi bi-box-arrow-left"></i></button>
</div>

