@import '../../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@mixin center_itens {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes show{
  to{
    transform: translateX(0rem);
    transform: scale(5rem);
  }
  from{
    transform: translatex(100rem);
    transform: scale(100rem)
  }
}
@keyframes show-form{
  to{
    transform: translateX(0rem);
    opacity: 1;

  }
  from{
    transform: translatex(-100rem);
   }
}
:host{
 @include center_itens();
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
 .logo{
   position: fixed;
   top: 1.0rem;
   left: 2.0rem;

   animation: show-form 1.5s ease-in-out;
   img{
     width: 10vw;
     height: 20vh;
   }
 }
  .login {
   position: relative;
   top: 0;
   left: 0;

    height: 100vh;
    width: 50%;


    @include center_itens();
    margin: 0;
    border-radius: .5rem;



    .form {
      @include center_itens();
      flex-direction: column;


      height: 50%;
      width: 40%;

      background-color: #fff;
      border-radius: .5rem;
      animation: show-form 1.2s ease-out forwards;
      transition: all 1s ease-out;
      box-shadow: .3rem .3rem 2.3rem black;

      h1 {
        font-family: $primary-fonte-family;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;

        margin-bottom: 1.0rem;
      }

      .form_login {
        display: flex;
        flex-direction: column;
        gap: 2.0rem;



        input {
          padding: .5rem;
          font-family: $primary-fonte-family;
          font-weight: bold;
          color: black;
          background-color: #40404089;
          border: none;
          font-size: .6rem;

          border-radius: .3rem;
        }
        .login_button{
          font-family: "Roboto", sans-serif;;
          font-weight: bold;
          font-size: .7rem;

          cursor: pointer;
          border: none;
          text-transform: capitalize;

          border-radius:.2rem;
          padding: .5rem;

          background: black;
          color: white;

          span{
            color: $secund-font-color;
          }
        }

      }

    }

    .img_logo {
      @include center_itens();

      width: 60%;
      height: 100%;
      border-radius: .5rem;

      background: $background-linear-gradiet;


      img {
        width: 30vw;
        height: 50vh;
        margin-bottom: 2.0rem;

      }
    }
  }
  .container{
    height: 100vh;
    width: 55%;


    position: relative;
    top:0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .circulo{
      transition: all 0.5s ease;
    }
    .circulo:nth-child(1){
      position: absolute;
      right: 0;
      top: 0;

      height: 100%;
      width: 34vw;
      animation: show 2s ease-in-out forwards;

      border-radius:100rem 0 0 100rem ;
      background-color:$backgroud-color-circle;
      box-shadow: -16px 6px 114px -8px rgba(0, 134, 206, 0.482);
      z-index: 3;
    }
    .circulo:nth-child(2){
      position: absolute;
      right: 0;
      top: 0;

      animation: show 1.5s ease-in-out forwards;
      background-color: $backgroud-color-circle2;
      height: 100%;
      width: 44vw;
      border-radius:100rem 0 0 100rem ;
      box-shadow: -16px 6px 114px -8px rgba(0, 134, 206, 0.42);
      z-index: 2;
    }
    .circulo:nth-child(3){
      position: absolute;
      right: 0;
      top: 0;

      animation: show 1s ease-in-out forwards;
      height: 100%;
      width: 52vw;
      border-radius:100rem 0 0 100rem ;
      background-color: $backgroud-color-circle3;
      box-shadow: -16px 6px 114px -8px rgba(0, 134, 206, 0.427);
      z-index:1;


    }
    .img{

      height: auto;

      z-index: 999;

      position: absolute;
      left: 10rem;
      animation: show 2.3s ease-in-out forwards;
      img{
        height: 40vh;
        width: 25vw;
      }
    }
  }
}
