<div class="page">
  <div class="text">
    <h2>welcome back</h2>
    <h4>log in!</h4>
  </div>
  <div class="login">
    <form action="#" class="form_login">

      <div class="form-group">
        <input type="text" required class="user" id="nome" placeholder=" " />
        <label for="nome">Usuario</label>
      </div>

      <div class="form-group">
        <input type="password" required class="password" id="senha" placeholder=" " />
        <label for="senha">Password</label>
      </div>



      <button class="login_button" routerLink="/home" routerLinkActive="active" type="submit">
        login</button>
    </form>
    <div class="box">
      <span><input type="checkbox">Lembrar</span>
      <a routerLink="/home" routerLinkActive="active">Esqueceu a senha?</a>
    </div>
    <h4 class="OR">OR</h4>

  </div>
