<div class="page">
  <img class="logo" src="../../../assets/img/COS_fundo_escuro-removebg-preview 2.png" alt="">

  <div class="login">
    <h1 class="tittle">seja bem-vindo</h1>
    <form action="#" class="form_login">
      <label class="input_label" for="user">Usuario</label>
      <input type="text"required class="user">
      <label class="input_label" for="password">Password</label>
      <input type="password"required class="password">

      <button class="login_button" routerLink="/home" routerLinkActive="active" type="submit">
          login</button>
    </form>
    <div class="box">
      <input type="checkbox">
      <span>Lembrar</span>
      <a href="#">Esqueceu a senha?</a>
    </div>
     <h4>OR</h4>

</div>
