@import '../../../styles/variables.scss';




/*


@keyframes show{
  to{
    transform: translateX(0rem);
    transform: scale(5rem);
  }
  from{
    transform: translatex(100rem);
    transform: scale(100rem)
  }
}
@keyframes show-form{
  to{
    transform: translateX(0rem);
    opacity: 1;

  }
  from{
    transform: translatex(-100rem);
   }
}
:host{
 @include center_itens();
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
 .logo{
   position: fixed;
   top: 1.0rem;
   left: 2.0rem;

   animation: show-form 1.5s ease-in-out;
   img{
     width: 10vw;
     height: 20vh;
   }
 }
  .login {
   position: relative;
   top: 0;
   left: 0;

    height: 100vh;
    width: 50%;


    @include center_itens();
    margin: 0;
    border-radius: .5rem;



    .form {
      @include center_itens();
      flex-direction: column;


      height: 50%;
      width: 40%;

      background-color: #fff;
      border-radius: .5rem;
      animation: show-form 1.2s ease-out forwards;
      transition: all 1s ease-out;
      box-shadow: .3rem .3rem 2.3rem black;

      h1 {
        font-family: $primary-fonte-family;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;

        margin-bottom: 1.0rem;
      }

      .form_login {
        display: flex;
        flex-direction: column;
        gap: 2.0rem;



        input {
          padding: .5rem;
          font-family: $primary-fonte-family;
          font-weight: bold;
          color: black;
          background-color: #40404089;
          border: none;
          font-size: .6rem;

          border-radius: .3rem;
        }
        .login_button{
          font-family: "Roboto", sans-serif;;
          font-weight: bold;
          font-size: .7rem;

          cursor: pointer;
          border: none;
          text-transform: capitalize;

          border-radius:.2rem;
          padding: .5rem;

          background: black;
          color: white;

          span{
            color: $secund-font-color;
          }
        }

      }

    }

    .img_logo {
      @include center_itens();

      width: 60%;
      height: 100%;
      border-radius: .5rem;

      background: $background-linear-gradiet;


      img {
        width: 30vw;
        height: 50vh;
        margin-bottom: 2.0rem;

      }
    }
  }
  .container{
    height: 100vh;
    width: 55%;


    position: relative;
    top:0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .circulo{
      transition: all 0.5s ease;
    }
    .circulo:nth-child(1){
      position: absolute;
      right: 0;
      top: 0;

      height: 100%;
      width: 34vw;
      animation: show 2s ease-in-out forwards;

      border-radius:100rem 0 0 100rem ;
      background-color:$backgroud-color-circle;
      box-shadow: -16px 6px 114px -8px rgba(0, 134, 206, 0.482);
      z-index: 3;
    }
    .circulo:nth-child(2){
      position: absolute;
      right: 0;
      top: 0;

      animation: show 1.5s ease-in-out forwards;
      background-color: $backgroud-color-circle2;
      height: 100%;
      width: 44vw;
      border-radius:100rem 0 0 100rem ;
      box-shadow: -16px 6px 114px -8px rgba(0, 134, 206, 0.42);
      z-index: 2;
    }
    .circulo:nth-child(3){
      position: absolute;
      right: 0;
      top: 0;

      animation: show 1s ease-in-out forwards;
      height: 100%;
      width: 52vw;
      border-radius:100rem 0 0 100rem ;
      background-color: $backgroud-color-circle3;
      box-shadow: -16px 6px 114px -8px rgba(0, 134, 206, 0.427);
      z-index:1;


    }
    .img{

      height: auto;

      z-index: 999;

      position: absolute;
      left: 10rem;
      animation: show 2.3s ease-in-out forwards;
      img{
        height: 40vh;
        width: 25vw;
      }
    }
  }
}
*/

@keyframes show{
  to{
    transform: translateY(0rem);
    opacity: .3;
  }
  from{
    transform: translateY(100rem);

    opacity: 100;
  }
}
@keyframes show_text{
  to{
    transform: translateX(0rem);

  }
  from{
    transform: translateX(100rem);
  }
}
@media(max-width:520px) {
  .page {
    background-color: $backgroud-color;
    font-family: $primary-fonte-family;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    transition: all .5s ease-in-out;
    .back {

      padding: .5rem;

      cursor: pointer;
      position: absolute;
      right: 1.0rem;
      top: 1.0rem;

      border-radius:.32rem;
      animation: show_text .8s ease-out forwards;
      transition: all .5s ease-out;

    }

    .text {
      position: absolute;
      left: .4rem;
      top: 2rem;

      color: #ffffff;

      height: auto;
      width: fit-content;
      animation: show_text .5s ease-in-out forwards;
      h4 {
        text-align: left;
      }

    }

    .OR {
      text-align: center;

      font-size: .8rem;
      opacity: .4;
    }

    height: 100vh;

    .logo {
      width: 6rem;
      height: 6rem;

      display: block;
      position: absolute;
      left: 1rem;
      top: 1rem;

    }
//login frame--------------------------------
    .login,.register{
      background-color: #ffffff;

      border-radius: 2.0rem 2.0rem 0 0;
      padding: 2rem;

      width: 100%;
      height: 70%;

      display: flex;
      flex-direction: column;


      gap: 1.0rem;

      transition: all .5s ease-out;
      animation:  show .7s ease-out backwards;


      .form_login {

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.0rem;

        .form-group {
          position: relative;

          input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-bottom: 2px solid #ccc;
            border-radius: 4px;
            outline: none;
            background: transparent;

            &:focus {
              border-color: #4a90e2;
            }

            &:focus+label,
            &:not(:placeholder-shown)+label {
              top: -12px;
              font-size: 12px;
              color: #4a90e2;
            }
          }

          // Estilos para a label
          label {
            position: absolute;
            top: 12px;
            left: 10px;
            font-size: 16px;
            color: #aaa;
            transition: all 0.3s ease;
            pointer-events: none;
          }
        }
      }

      .login_button ,.register_button{

        background-color: rgb(45, 62, 75);
        color: #ffffff;

        margin-top: 1.0rem;

        border-radius: .3rem;
        padding: .6rem;

        cursor: pointer;
        width: 100%;

        text-transform: uppercase;
        font-size: .7rem;
        font-weight: 400;

      }
    }

    .box {
      display: flex;
      gap: .4rem;
      align-items: center;
      justify-content: space-between;

      span {
        @include center_itens();
        gap: .3rem;

        font-size: .8rem;
        font-weight: 500;
      }

      a {
        font-weight: 500;
        font-size: .75rem;

      }
    }

    .more_logins {

      width: 100%;
      height: auto;

      @include center_itens();
      gap: 1rem;

      i {
        height: 9vh;
        width: 15vw;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: .5rem;
        color: #ffffff;
        background-color: $backgroud-color;
        font-size: 1.6rem;
        padding: .3rem;

        transition: all .5s ease-in-out;
        cursor: pointer;
        
      }

      i:focus {
        background-color: #4a90e2;
        color: #ffffff;
      }
    }
  }

}
