<div class="page">
  
  <div class="container">

    <div class="form">
      <h1>seja bem-vindo</h1>
      <form action="#" class="form_login">
        <input type="text" placeholder="Usuario" required>
        <input type="password" placeholder="Password" required>
        <button class="login_button" routerLink="/home" routerLinkActive="active" type="submit" >Fazer <span> login</span></button>
      </form>
    </div>

    <div class="img_logo">
      <img src="../../../assets/img/COS_fundo_escuro-removebg-preview 2.png" alt="">
    </div>
  </div>

</div>
